<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>instagram / Post List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <form action="" method="get">
        <input type ="text" name ="q" value = "{{q}}"/>
        <input type ="submit" value="검색" >
    </form>
    <table class ="table table-bordered table-hover">
        <tbody>
            {% for post in post_list %}
            <tr>
                <td>
                    {{post.message}}
                </td>
                <td>
                    {% if post.photo %}
                        <img src ="{{post.photo.url}}" />
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>